body {
  background-color: rgb(116, 113, 113);
}

h1 {
  color: rgb(45, 46, 46);
  padding: 10px;
  font-size: 45px;
  font-weight: 600;
}

p {
  color: rgb(45, 46, 46);
  font-size: 20px;
  font-weight: 600;
}

button {
  font-size: 15px;
  font-weight: 600;
  background-color: rgb(213, 221, 219);
  border-radius: 10px;
  padding: 5px;
}
